/* =============================================================================
   HTML5 CSS Reset Minified - Eric Meyer
   ========================================================================== */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}
nav ul{list-style:none}
blockquote,q{quotes:none}
blockquote:before,blockquote:after,q:before,q:after{content:none}
a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none}
mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}
del{text-decoration:line-through}
abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}
table{border-collapse:collapse;border-spacing:0}
hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}
input,select{vertical-align:middle}
li{list-style:none}


/* =============================================================================
   Global
   ========================================================================== */

body{ font:normal 75% Arial, Helvetica, sans-serif; background:#f2f2f2; }
.wrapper{ max-width:1000px; margin:0 auto; padding:0 20px; }

/* =============================================================================
   My CSS
   ========================================================================== */

header{ height:20px; line-height:20px; background:#eee; border-bottom:1px solid #ddd; padding:20px; }
#content{ margin-top:20px; }

/* TPL - Home */

.tpl_home{ text-align:center; }

.tpl_home h1{ margin:20px; font-size:3em; color:#222; }
.tpl_home > div{ width:980px; height:400px; position:absolute; top:50%; left:50%; margin:-200px 0 0 -490px; }

.tpl_home form{ width:700px; margin:0 auto; }
.tpl_home input{ display:block; padding:10px 12px; width:300px; border:1px solid #ccc; border-radius:3px; font-size:1.6em; outline:0; font-family:Arial; }

.tpl_home .input_what{ width:637px; margin:0 auto 10px auto; }
.tpl_home .input_where{ margin-right:8px; }
.tpl_home .input_where, .tpl_home .input_when{ display:inline-block; vertical-align:top }
.tpl_home .input_search{ margin:20px auto 0 auto; width:auto; padding:10px 20px; background:#20435c; color:#fff; cursor:pointer; border:1px solid #222; }


/* TPL - Data */

.tpl_data h1{ font-size:2em; margin-bottom:20px }
.tpl_data pre{ background: #fff; border-radius: 5px; padding: 30px; margin: 20px 0; }